body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 40px 20px;
    background-color: #f4f6f9;
    color: #333333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 50px;
    padding-top: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(1, 1, 1, 1);
}

h1 {
    color: #003366;
    font-size: 28px;
    margin-bottom: 5px;
    text-align: center;
}

h2 {
    color: #4a5568;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 400;
}

.subtitle {
    font-style: italic;
    color: #718096;
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
}

.intro {
    background-color: #ebf8ff;
    border-left: 4px solid #3182ce;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 35px;
}

.terms-list>li {
    margin-bottom: 25px;
    font-size: 18px;
    color: #003366;
}

.terms-list ul {
    margin-top: 10px;
    padding-left: 20px;
}

.terms-list ul li {
    margin-bottom: 8px;
    font-size: 15px;
    color: #4a5568;
}

.logo {
    max-width: 220px;
    height: auto;

    position: absolute;
    top: 60px;
    left: 15%;
}

.welc {
    text-align: center;
    font-size: 18px;
    color: #2d3748;
    margin-bottom: 20px;
}

nav {
    margin-bottom: 30px;
}

nav a {
    color: #3182ce;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease
}

nav a:hover {
    transform: scale(1.1);
}

html {
    scroll-behavior: smooth;
}